* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header */
.header {
    background-image: url("./images/banner/banner1.png");
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
    left: 1600px;
    top: 808px;
}

.nav-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}

.header-txt {
    text-align: right;
    padding-top: 190px;
    padding-right: 170px;
}

.contact-us-btn {
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}

/* Failur Section  */

.person-img {
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
}

.failur-section {
    display: flex;
    padding-top: 200px;
    text-decoration: none;
    padding-left: 100px;
    list-style-type: none;
}

.my-failour {
    margin-left: 120px;
    padding-top: 80px;

}

.failur-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.failur-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.failur-list {
    font-weight: 400;
font-size: 16px;
line-height: 26px;
padding-top: 0px;
list-style: circle;
}

/* My Plans Section */


.plans-heading{
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
font-size: 40px;
line-height: 47px;
}
.plan-titles{
    display: flex;
    gap: 90px;
    list-style: none;
    padding-top: 40px;
    color: #151414;
}
.plan-titles-align{
    padding-left: 230px;
}
.plan-description{
    font-weight: 500;
font-size: 25px;
line-height: 29px;
padding-top: 16px;
color: #737272;
}
